In [85]:
import pandas as pd
import numpy as np 
import re
from textblob import TextBlob
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [177]:
df = pd.read_excel('Book1.xlsx')

In [178]:
df

                   Изготовитель
0             "МаноТом" г.Томск
1             "МаноТом" г.Томск
2             "МаноТом" г.Томск
3             "МаноТом" г.Томск
4     "Теплоприбор" г.Челябинск
...                         ...
7638  ОАО "Самарский трансформ"
7639  ОАО "Самарский трансформ"
7640  ОАО "Самарский трансформ"
7641  ОАО "Самарский трансформ"
7642  ОАО "Самарский трансформ"

[7643 rows x 1 columns]

In [179]:
df = df.drop_duplicates(inplace=False, ignore_index=True)
df

                  Изготовитель
0            "МаноТом" г.Томск
1    "Теплоприбор" г.Челябинск
2                        РОСМА
3         "Тизприбор" г.Москва
4               ОАО "Манотомь"
..                         ...
424                 ОАО №МЦБК"
425             Эндресс+Хаузер
426        ЗАО "Энерготехника"
427    ЗАО "НПФ "РАДИО-СЕРВИС"
428  ОАО "Самарский трансформ"

[429 rows x 1 columns]

In [188]:
#df.to_excel('после дропа.xlsx')
a  = df[df.Изготовитель.str.match(r'г.')].values
b = df[df.Изготовитель.str.match(r"г. ")].values

In [206]:
stopwords = np.concatenate((a,b),axis=0 )
stopwords = np.append(stopwords, [['г.Томск'],['Москва'],['г.Казань'],['г.Львов'],['г.Чебокс'],['г.Челябинск']] )
stopwords

array(['г.Москва', 'гр.предпр."Метран" г. Челябинск',
       'гр.предп."Метран" г.Челябинск', 'гр.предп."Метран" Челябинск',
       'гр.предп."Метран" г.Чебоксары', 'г.Чебоксары', 'г. Таллин',
       'г.Таллин', 'г.Арзамас', 'гр.предп. "Метран"', 'г.Петрозаводск',
       'гр.предп. "Метран" г.Челябинск', 'г.Киев Укр.НИИБ',
       'г.Киев Укр.НПО бумпром', 'г. Киров', 'г.Иваново', 'г.Литва',
       'г.Новосибирск', 'г.Москва ООО"ИПФТермИКС"', 'г.Гомель',
       'г.Санкт-Петербург', 'г.Москва ООО"Эко-интех"', 'г.Златоуст',
       'г. Екатеринбург', 'г.Загорск', 'г. Златоуст', 'г.Нижний Новгород',
       'г.Киев Укр. НПО бумпром.', 'г.С-Петербург', 'г.Киев', 'г.Киров',
       'г.Киев Укр. НИИБ бумпром', 'г. Иваново', 'г.Киев Укр. НИИБ',
       'г.Челябинск', 'г. Томск', 'г.Киев Укр. НПО бумпром', 'г. Арзамас',
       'г. Москва', 'г.Ленинград', 'г.Ереван',
       'г.Чебоксары"ОАОЭлектроприбо', 'г.Чебоксары"ОАОЭлектроприбор',
       'г.Пекин', 'г.Екатеринбург', 'г.Пенза', 'г. С - Петербург',
       'г.Рязань', 'г. Таллин', 'г. Киров', 'г. Екатеринбург',
       'г. Златоуст', 'г. Иваново', 'г. Томск', 'г. Арзамас', 'г. Москва',
       'г. С - Петербург', 'г.Томск', 'Москва', 'г.Казань', 'г.Львов',
       'г.Чебокс', 'г.Челябинск'], dtype=object)

In [214]:
while True:
    i = input("Слово  ")
    if i == '0':
        break
    elif i in stopwords:
        print("Уже есть")
        continue
    else:
        stopwords = np.append(stopwords, i)

Слово  г.Владимир
Слово  Владимир
Слово  0

In [215]:
stopwords

array(['г.Москва', 'гр.предпр."Метран" г. Челябинск',
       'гр.предп."Метран" г.Челябинск', 'гр.предп."Метран" Челябинск',
       'гр.предп."Метран" г.Чебоксары', 'г.Чебоксары', 'г. Таллин',
       'г.Таллин', 'г.Арзамас', 'гр.предп. "Метран"', 'г.Петрозаводск',
       'гр.предп. "Метран" г.Челябинск', 'г.Киев Укр.НИИБ',
       'г.Киев Укр.НПО бумпром', 'г. Киров', 'г.Иваново', 'г.Литва',
       'г.Новосибирск', 'г.Москва ООО"ИПФТермИКС"', 'г.Гомель',
       'г.Санкт-Петербург', 'г.Москва ООО"Эко-интех"', 'г.Златоуст',
       'г. Екатеринбург', 'г.Загорск', 'г. Златоуст', 'г.Нижний Новгород',
       'г.Киев Укр. НПО бумпром.', 'г.С-Петербург', 'г.Киев', 'г.Киров',
       'г.Киев Укр. НИИБ бумпром', 'г. Иваново', 'г.Киев Укр. НИИБ',
       'г.Челябинск', 'г. Томск', 'г.Киев Укр. НПО бумпром', 'г. Арзамас',
       'г. Москва', 'г.Ленинград', 'г.Ереван',
       'г.Чебоксары"ОАОЭлектроприбо', 'г.Чебоксары"ОАОЭлектроприбор',
       'г.Пекин', 'г.Екатеринбург', 'г.Пенза', 'г. С - Петербург',
       'г.Рязань', 'г. Таллин', 'г. Киров', 'г. Екатеринбург',
       'г. Златоуст', 'г. Иваново', 'г. Томск', 'г. Арзамас', 'г. Москва',
       'г. С - Петербург', 'г.Томск', 'Москва', 'г.Казань', 'г.Львов',
       'г.Чебокс', 'г.Челябинск', 'Челябинск', 'г.Будапешт',
       'г.Волгодонск', 'Япония', 'г.Омск', 'Рязанский з-д ', '',
       'г.Минск', 'г. Челябинск', 'г.Тула', 'С-Петербург', 'г. Смоленск',
       'г.Улан-Уде', 'Германия', 'Польша', 'г.Владимир', 'Владимир'],
      dtype=object)

In [200]:
for i in df1.Изготовитель:
    blob = TextBlob(i)
    for word in blob.words:
        if word not in stopwords:
            s = word.capitalize()
    print(s)

AttributeError: 'DataFrame' object has no attribute 'Изготовитель'

In [175]:
s = []
for i in df.Изготовитель:
    s.append(i.replace('"',''))
df1 = pd.DataFrame({'без_кавычек': s})

In [191]:
result = pd.concat([df,df1],axis =1 )
result.head(20)

                      Изготовитель                    без_кавычек
0                "МаноТом" г.Томск                МаноТом г.Томск
1        "Теплоприбор" г.Челябинск        Теплоприбор г.Челябинск
2                            РОСМА                          РОСМА
3             "Тизприбор" г.Москва             Тизприбор г.Москва
4                   ОАО "Манотомь"                   ОАО Манотомь
5   з-д "Теплоавтоматика" г.Москва   з-д Теплоавтоматика г.Москва
6                       ПО " ОВЕН"                       ПО  ОВЕН
7            "Эталон" г.Волгодонск            Эталон г.Волгодонск
8    проивод.объед."Овен" г.Москва    проивод.объед.Овен г.Москва
9         ЛОГИКА г.Санкт-Петербург       ЛОГИКА г.Санкт-Петербург
10           ПНП "СИГНУР" г.Москва            ПНП СИГНУР г.Москва
11                             ЗИП                            ЗИП
12   ОАО "Электроприбор" г.Чебокс.    ОАО Электроприбор г.Чебокс.
13                            ЧЭАЗ                           ЧЭАЗ
14                        г.Москва                       г.Москва
15                            ЛЭМЗ                           ЛЭМЗ
16   з-д"Теплоавтоматика" г.Москва    з-дТеплоавтоматика г.Москва
17   Ереванский з-д измер.приборов  Ереванский з-д измер.приборов
18      пр.объедин."Овен" г.Москва       пр.объедин.Овен г.Москва
19           "Львовприбор" г.Львов            Львовприбор г.Львов

In [216]:
for i in result.без_кавычек:
    blob = TextBlob(i)
    for word in blob.words:
        if word not in stopwords:
            s = word.capitalize()
    print(s)

Манотом
Теплоприбор
Росма
Тизприбор
Манотомь
Теплоавтоматика
Овен
Эталон
Проивод.объед.овен
Логика
Сигнур
Зип
Электроприбор
Чэаз
Чэаз
Лэмз
З-дтеплоавтоматика
Измер.приборов
Пр.объедин.овен
Львовприбор
Иванофранковск.приборостр.з-д
Теплоконтроль
Взлет
З-дтеплоконтроль
Автоматика
Wika
З-дмашприборинторг
Приборостр.з-д
З-давтоматика
Теплоавтоматика
Сектор-м
Электроприбор
Манотом
Манотом
Метер
Якагава
Машприборинторг
Наука
Эталон
Спа
Г
Машприборинторг
Теплоприбор
Машприборинторг
Томг.томск
Klay
Теплоприбор
Ф.валмет
Элемер
Манометр
Nivelco
Nivelco
Элемер
Г
Аквар-систем
Финляндия
Взлет
Г
Теплоприбор
Гр.предп.метран
Элемер
Siemens
К
Госметр
Энтерпрайз
Наука
Метран
Endress+hauser
Вела
Г
Cas
Мосгорснаббыт
Дозирующ.прибор
Союзцветметавтом
Лимако
Мзм
Овен
Пр.объедин.овен
Вес-сервис
Овен
Г
Взлет
Гр.предп.метран
S.a
Овен
Фармэк
Валмет
Смоленск
Манотомь
Теплоприбор
Теплоконтроль
Теплоконтроль
М
Aplisens
Aplisens
Wika-германия
Гр.предп.метран
Масса-к
Масса-к
Kfap
Таллин
Томск
Тизприбор
Аплисенс
Аплисенс
Аплисенс
Метран
Метран
Политехформ-м
Фармэк
Аналитприбор
Ко
№24
Казань
Росма
Томск
Г.влад
Овен
Рус
Г.орел
Метран
Томск
Томск
Автоматика
Лимако
Манотом
Тизприбор
Австрия
Test
Инфраспак-аналит
Манометр
Сигнур
Манометр
Газэлектроника
Инфраспак-аналит
Завод
Г
Испания
Приб
Укр.нииб
Бумпром
Киров
Мцбк
Таганрог
Иваново
Иваново
Информаналитика
Элексистемлес
Элексистемлес
Frank-pti
Комз
Термоприбор
Техинструментснаб
Метротекс
Instrvments
Usa
Toledo
Toledo
Н.новгород
Томск
Оооипфтермикс
Toledo
Цнииб
Зомз
Зомз
Нпфтерникс
Нпфтерникс
Оооэко-интех
Оооэко-интех
Г.клин
Тест
Г.клинское
Г.клинское
Нпоприборганк
Росма
Г.с-п
Горноспасат.ап.г.донецк
Екатеринбург
Люмэкс-маркетинг
Люмэкс-маркетинг
Златоуст
Электронприбормосква
Юнико-сис
Термикс
Новгород
Новгород
Прибор
Уралинструментимпэкс
Гзип
Теsto
Бумпром
Точприбор
Восток
Час.з-д
Термоприбор
Оаомцбк
Г.правдинск
Киев
Тензо-м
Oivнидерланды
Г.киевг.г.папирприлад
Бумпром
Юмас
Юмас
Инструм
Инструм
Цбк
Зомз
Австрия
Австрия
Нииб
Техника
Калибр
Г.коломна
Л.я.г.москва
Канада
Украина
Экоинструмент
Позис
Масса-к
Frank
Масса-к
Госметр
Сартогосм
Продакс
Юмас
Г.п.папирприлад
Бумпром
Тригла
З-д
Иваново
Промэкоприбор
Константа
Рта-с-петербург
Нииб
Нииб
Томск
Заонпфрадио-сер.ижевск
Корея
Аналитприбор
Hilti
Китай
Уомз
Г
Минск
Веста
Hauser
Гидрогазпром
Иэк
Тула
Г.смоленск
Нпоэко-интехг.москва
Манометр
Метран-смартг.челябинск
Приборостроительн
Веста
Техника
Пенза
Саs
Госметр
Метлер
Ссср
З-дгосметр
Нара
Казань
Оооконтур-м
Оаоэлектропоиборгчебоксары
Екатеинбург
Оаоэлектроприборг.чебоксары
Часов.з-д
Оооцентрметг.москва
Томск
Манометр
Ставрополь
Micron
Чиз
Ипцг.москва
Логика
Точприбор
Логика
Г
Хромос
Испания
Бумпром
Арзамас
Приборостроит.з-д
Манометр
Маготом
Казань
Том
Госметрг
Эталон
Саs
Манометр
Метран
Метер
Автоматикаг.владимир
Теплоконтроль
Сша
Споаналитприборсмоленск
Г.невинномыск
Технол
Энергокомплект
Нпфрадио-сервис
Г
Кнр
Г.с-перербург
Микрон
Термоприборг.клин
Госметр
Сартогосм
Г.москва
Томск
Измером
Энергомера
Динамика
Знак
Wien
Взэп
Инкотекс
Электроприбор
Мэмз
Элекро
Вззп
Электро
Балтехс
Эльстерг.арзамас
Hydroтес
Hydroтес
Заоизмерит.техникаг.пенза
Тюмень
З-д
Весов.з-дсредне-уральск.совнархоза
З-д
Lumel
Стеклоприборголынов.завод
Промприбор
Метран
Клинское
Cas
Канада
Нииб
Эко-интех
Ганк
Укрнииб
Радио-сервис
Медрентех
Манотомг.томск
Завод
Цнииб
Медретех
Оаоэлектроприбор
Им.менделеева
Приборы
Астраханский
Бетарг.чистополь
Г
Техника
Г.невинномыск
Нпфрадио-сервисижевск
Maticelectro
Радио-сервис
Поэлектронточприбор
Г
Новинтех
Г
Промприбор-р
Укр.нпобумпром
Эндресс+хаузер
Нпфэкомед-комплекс
Логика
Аналитприбор
Инструментальщик
Навгеком
Гидрогазприбор
Ганк
Химко
Щвеция
Химко
Лоип
Лэмз
Акс
Пз
Пз
Г.чебоксарыоаоэлектроприбо
Г.чебоксарыоаоэлектроприбор
Г.чебоксарыоаоэлектроприбор
Беларусьоаовзэп
Беларусьоаовзэп
Беларусьоаовзэп
Петербург
Г.чистополь
Водоприбор
Гроен-рус
Техника
Радиус
Томск
Бетар
Метер
Прибор
Ставрополь
Масса-к
Г.москва
Чэаз
Профи
Манотом
Том
Манотоммосква
Тепловодомер
С-петерб
С-петерб
Рус
Т.м.з
Emerson
№423
№423
Meter
Тмз
Сигнур
Акип
Метrеl
Прибор
Эип
Стеклоприбор
№мцбк
Эндресс+хаузер
Энерготехника
Радио-сервис
Трансформ

In [72]:
test = pd.DataFrame()

In [297]:
l = []
for i in df.Изготовитель:
    qlist = re.findall('\s*"([^\"]*)"',i)
    s = str(qlist)
    if s != '[]':
        temp_data = pd.DataFrame({'Изготовитель':[s[2:-2].lower()]})
    else:
        temp_data = pd.DataFrame({'Изготовитель':[0]})
    test = test.append(temp_data)

In [298]:
test.index  = range(1,430)

In [300]:
test

            Изготовитель
1                манотом
2            теплоприбор
3                      0
4              тизприбор
5               манотомь
..                   ...
425                    0
426                    0
427        энерготехника
428                 нпф
429  самарский трансформ

[429 rows x 1 columns]

In [301]:
test.query('Изготовитель == 0').index

Int64Index([  3,  10,  12,  14,  15,  16,  18,  21,  26,  27,
            ...
            404, 413, 414, 416, 417, 418, 421, 423, 425, 426],
           dtype='int64', length=162)

In [302]:
test2 = pd.DataFrame()
for i in test.query('Изготовитель == 0').index:
    test2 = test2.append([df.Изготовитель[i].lower()])

In [303]:
test2.columns = ['Изготовитель']

In [304]:
test2= test2.drop_duplicates()

In [305]:
test1 = test.drop_duplicates()

In [306]:
test1

            Изготовитель
1                манотом
2            теплоприбор
3                      0
4              тизприбор
5               манотомь
..                   ...
415           завод №423
419               сигнур
420                 акип
427        энерготехника
429  самарский трансформ

[172 rows x 1 columns]

In [307]:
test2

                Изготовитель
0                      росма
0   логика г.санкт-петербург
0                        зип
0                       чэаз
0                   г.москва
..                       ...
0                        тмз
0                     метrеl
0                        эип
0                 оао №мцбк"
0             эндресс+хаузер

[161 rows x 1 columns]

In [308]:
new_df = pd.concat([test1, test2])

In [309]:
new_df.index = range(1,334)

In [310]:
new_df = new_df.drop(3,axis=0)

In [311]:
new_df[new_df.Изготовитель.str.match(r'г. ')].index

Int64Index([207, 221, 236, 238, 261, 264, 282, 286, 321], dtype='int64')

In [312]:
new_df[new_df.Изготовитель.str.match(r'г.')].index

Int64Index([ 73,  83, 109, 112, 155, 162, 177, 205, 207, 209, 210, 211, 219,
            220, 221, 222, 224, 229, 232, 233, 234, 236, 237, 238, 239, 240,
            247, 248, 249, 252, 259, 260, 261, 262, 263, 264, 281, 282, 286,
            296, 306, 315, 316, 317, 318, 319, 320, 321, 327],
           dtype='int64')

In [313]:
new_df = new_df.drop([207, 221, 236, 238, 261, 264, 282, 286, 321,73,  83, 109, 112, 155, 162, 177, 205, 207, 209, 210, 211, 219,
            220, 221, 222, 224, 229, 232, 233, 234, 236, 237, 238, 239, 240,
            247, 248, 249, 252, 259, 260, 261, 262, 263, 264, 281, 282, 286,
            296, 306, 315, 316, 317, 318, 319, 320, 321, 327],axis=0)

In [314]:
new_df.shape

(283, 1)

In [315]:
new_df.to_excel("Список изготовителей.xlsx")