# Load Data from CSVs

In [1]:
import unicodecsv

In [2]:
# информация зачислении и прекращении студентами курса

with open('enrollments.csv', 'rb') as f:
    reader = unicodecsv.DictReader(f)
    enrollments = list(reader)

In [3]:
# информация о ежедневной активности студентов

with open('daily_engagement.csv', 'rb') as f:
    reader = unicodecsv.DictReader(f)
    daily_engagement = list(reader)

In [4]:
# информация о представленных проектах 

with open('project_submissions.csv', 'rb') as f:
    reader = unicodecsv.DictReader(f)
    project_submissions = list(reader)

In [5]:
enrollments[0]

{'account_key': '448',
 'status': 'canceled',
 'join_date': '2014-11-10',
 'cancel_date': '2015-01-14',
 'days_to_cancel': '65',
 'is_udacity': 'True',
 'is_canceled': 'True'}

In [6]:
daily_engagement[0]

{'account_key': '0',
 'utc_date': '2015-01-09',
 'num_courses_visited': '1.0',
 'total_minutes_visited': '11.6793745',
 'lessons_completed': '0.0',
 'projects_completed': '0.0'}

In [7]:
project_submissions[0]

{'creation_date': '2015-01-14',
 'completion_date': '2015-01-16',
 'assigned_rating': 'UNGRADED',
 'account_key': '256',
 'lesson_key': '3176718735',
 'processing_state': 'EVALUATED'}

In [8]:
from datetime import datetime as dt

def parse_date(date): # преобразует строковый тип в дату
    if date == '':
        return None
    else:
        return dt.strptime(date, '%Y-%m-%d')
    
def parse_int(i): # преобразует str в int
    if i == '':
        return None
    else:
        return int(i)

In [9]:
# приводим к нужному типу данные в столбцах

for enrollment in enrollments:
    enrollment['join_date'] = parse_date(enrollment['join_date'])
    enrollment['cancel_date'] = parse_date(enrollment['cancel_date'])
    enrollment['days_to_cancel'] = parse_int(enrollment['days_to_cancel'])
    enrollment['is_udacity'] = enrollment['is_udacity'] = True

for d in daily_engagement:
    d['utc_date'] = parse_date(d['utc_date'])
    d['num_courses_visited'] = int(float(d['num_courses_visited']))
    d['total_minutes_visited'] = float(d['total_minutes_visited'])
    d['lessons_completed'] = int(float(d['lessons_completed']))
    d['projects_completed'] = int(float(d['projects_completed']))
    
for i in project_submissions:
    i['creation_date'] = parse_date(i['creation_date'])
    i['completion_date'] = parse_date(i['completion_date'])

In [10]:
import pandas as pd
e = pd.DataFrame(enrollments)

In [11]:
e

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65.0,True,True
1,448,canceled,2014-11-05,2014-11-10,5.0,True,True
2,448,canceled,2015-01-27,2015-01-27,0.0,True,True
3,448,canceled,2014-11-10,2014-11-10,0.0,True,True
4,448,current,2015-03-10,NaT,NaN,True,False
...,...,...,...,...,...,...,...
1635,1176,current,2015-08-12,NaT,NaN,True,False
1636,1110,current,2015-08-13,NaT,NaN,True,False
1637,1116,canceled,2015-08-15,2015-08-18,3.0,True,True
1638,874,current,2015-08-22,NaT,NaN,True,False
1639,686,current,2015-08-23,NaT,NaN,True,False

In [12]:
df = pd.DataFrame(daily_engagement)

In [13]:
df

,account_key,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1,11.679374,0,0
1,0,2015-01-10,2,37.284887,0,0
2,0,2015-01-11,2,53.633746,0,0
3,0,2015-01-12,1,33.489270,0,0
4,0,2015-01-13,1,64.779678,0,0
...,...,...,...,...,...,...
136235,1305,2015-06-14,0,0.000000,0,0
136236,1305,2015-06-15,0,0.000000,0,0
136237,1305,2015-06-16,1,2.720136,0,0
136238,1305,2015-06-17,0,0.000000,0,0
136239,1305,2015-06-18,0,0.000000,0,0

In [14]:
 dff = pd.DataFrame(project_submissions)

In [15]:
dff

,creation_date,completion_date,assigned_rating,account_key,lesson_key,processing_state
0,2015-01-14,2015-01-16,UNGRADED,256,3176718735,EVALUATED
1,2015-01-10,2015-01-13,INCOMPLETE,256,3176718735,EVALUATED
2,2015-01-20,2015-01-20,PASSED,256,3176718735,EVALUATED
3,2015-03-10,2015-03-13,PASSED,434,3176718735,EVALUATED
4,2015-02-17,2015-03-03,INCOMPLETE,434,3176718735,EVALUATED
...,...,...,...,...,...,...
3637,2015-01-13,2015-01-22,PASSED,243,3176718735,EVALUATED
3638,2015-07-07,2015-07-07,INCOMPLETE,771,3176718735,EVALUATED
3639,2015-08-16,2015-08-16,PASSED,2,3176718735,EVALUATED
3640,2015-03-03,2015-03-11,PASSED,623,3176718735,EVALUATED
3641,2015-07-10,2015-07-11,PASSED,1274,4576183932,EVALUATED

In [16]:
enrollments[0]

{'account_key': '448',
 'status': 'canceled',
 'join_date': datetime.datetime(2014, 11, 10, 0, 0),
 'cancel_date': datetime.datetime(2015, 1, 14, 0, 0),
 'days_to_cancel': 65,
 'is_udacity': True,
 'is_canceled': 'True'}

In [17]:
# находит число уникальных студентов в датасете
def find_unique_students(data):
    num_unique_students = set()
    for i in data:
        num_unique_students.add(i['account_key'])
    return num_unique_students

In [18]:
# нашли всколько всего студентов в датасетах и количество строк
enrollment_num_rows = len(enrollments)   
enrollment_num_unique_student = find_unique_students(enrollments)

engagement_num_rows =len(daily_engagement)
engagement_num_unique_studentt = find_unique_students(daily_engagement)

submission_num_rows =len(project_submissions)  
submission_num_unique_students = find_unique_students(project_submissions)

In [19]:
daily_engagement[0]['account_key']

'0'

In [56]:
s = []
for i in enrollments:
    if i['cancel_date'] != i['join_date'] and i['account_key'] not in engagement_num_unique_studentt:
        print(i)
        print()

{'account_key': '1304', 'status': 'canceled', 'join_date': datetime.datetime(2015, 1, 10, 0, 0), 'cancel_date': datetime.datetime(2015, 3, 10, 0, 0), 'days_to_cancel': 59, 'is_udacity': True, 'is_canceled': 'True'}

{'account_key': '1304', 'status': 'canceled', 'join_date': datetime.datetime(2015, 3, 10, 0, 0), 'cancel_date': datetime.datetime(2015, 6, 17, 0, 0), 'days_to_cancel': 99, 'is_udacity': True, 'is_canceled': 'True'}

{'account_key': '1101', 'status': 'current', 'join_date': datetime.datetime(2015, 2, 25, 0, 0), 'cancel_date': None, 'days_to_cancel': None, 'is_udacity': True, 'is_canceled': 'False'}

In [54]:
s

[{'account_key': '1304',
  'status': 'canceled',
  'join_date': datetime.datetime(2015, 1, 10, 0, 0),
  'cancel_date': datetime.datetime(2015, 3, 10, 0, 0),
  'days_to_cancel': 59,
  'is_udacity': True,
  'is_canceled': 'True'},
 {'account_key': '1304',
  'status': 'canceled',
  'join_date': datetime.datetime(2015, 3, 10, 0, 0),
  'cancel_date': datetime.datetime(2015, 6, 17, 0, 0),
  'days_to_cancel': 99,
  'is_udacity': True,
  'is_canceled': 'True'},
 {'account_key': '1101',
  'status': 'current',
  'join_date': datetime.datetime(2015, 2, 25, 0, 0),
  'cancel_date': None,
  'days_to_cancel': None,
  'is_udacity': True,
  'is_canceled': 'False'}]